@import "../../utils/variables.scss";

.education {
  background: $bgEducation;
  min-height: 81vh;
  padding-bottom: 30px;
  &__content {
    margin: 0 auto;
    width: 80%;
    padding-top: 48px;
  }

  .content__title {
    color: $typoPrimary;
    line-height: 36px;
    padding-bottom: 24px;
  }

  &__show-more {
    h4 {
      display: flex;
      flex-direction: row;
    }

    h4:before, h4:after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid $bgBorder;
      margin: auto;
    }

    h4:before {
      margin-right: 14px
    }

    h4:after {
      margin-left: 14px
    }

    .show-more {
      display: flex;
      padding: 0 12px 0 16px;
      gap: 11px;
      border-radius: 4px;
      background: $controlGhost-bg;
      border: none;
      color: $controlGhost-typo;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;

      img {
        margin-top: 11px;
        margin-left: 12.54px;
      }
    }
  }
}