@import "../../../../utils/variables";

.theme__card {
  box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
  border-radius: 8px;
  background: $bgDefault;
  padding: 32px;
  max-width: 464px;

  ul {
    display: flex;
    gap: 28px;
    color: $typoSecondary;
    margin-bottom: 8px;

    :first-child {
      list-style-type: none;
    }
  }
}