@import "../../../../utils/variables";

.recommendation {
  &__card {
    display: flex;
    background: $bgDefault;
    padding: 32px 70px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 2px 8px rgba(0, 32, 51, 0.16);
    margin-bottom: 40px;

    .card__info {
      margin-left: 100px;

      .title {
        color: $typoPrimary;
        margin-bottom: 8px;
      }

      ul {
        display: flex;
        gap: 28px;
        color: $typoSecondary;
        margin-bottom: 8px;

        :first-child {
          list-style-type: none;
        }
      }

      p {
        margin-bottom: 35px;
      }
    }
  }
}