@import "../../../../utils/variables";

.frontend-way{
  margin-top: 40px;
  border-radius: 8px;
  background: $bgStripe;
  padding: 32px;

  .slider{
    display: flex;
  }
  .slick-list{
    display: flex;
  }
}