@import "../../utils/variables.scss";

@media screen and (max-width: 778px) {
  .header {
    padding: 18px 9px !important;
    &__nav{
      &-logo{
        margin-right: 10px !important;
      }
      &-link{
        margin-right: 10px !important;
      }
    }
  }
}
@media screen and (max-width: 693px){
  .header {
    &__nav{
      &-logo{
        width: min-content !important;
      }
    }
    &__panel{
      &-icons{
        display: none !important;
      }
    }
  }
}
@media screen and (max-width: 576px){
  .header{
    margin: 0 5px;
    &__panel{
      &-user{
        p{
          display: none !important;
        }
        img{
          margin: 0!important;
        }
      }
    }
  }
}

.header {
  padding: 18px 24px;
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $bgBorder;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;

    &-logo {
      font-weight: 700;
      font-size: 18px;
      margin-right: 36px;
      padding-bottom: 16px;
      color: $typoPrimary;
    }

    &-link {
      margin-right: 32px;
      text-decoration: none;
      height: 38px;
      line-height: 19.2px;
      color: $typoSecondary;
    }
  }

  &__panel {
    display: flex;
    align-items: center;

    &-icons {
      display: flex;
      gap: 8px;
      margin-right: 20px;

      img {
        height: 24px;
        width: 24px;
      }
    }

    &-user {
      display: flex;
      align-items: center;

      img {
        margin-right: 12px;
      }
    }
  }
}

.active {
  color: $typoPrimary;
  border-bottom: 2px solid $typoLink;
  opacity: 100%;
}