$bgDefault: #ffffff;
$bgEducation: #f5f5f5;
$controlPrimary-typo: #ffffff;
$typoPrimary: #002033;
$typoSecondary: rgba(0, 32, 51, 0.6);
$controlGhost-typo: rgba(0, 57, 92, 0.8);
$controlClear-bg: rgba(0, 66, 105, 0);
$bgGhost: rgba(0, 32, 51, 0.08);
$bgSuccess: #24c38e;
$controlPrimary-bg: #0078d2;
$controlSecondary-typo: #0078d2;
$controlGhost-bg: rgba(0, 66, 105, 0.07);
$controlDefault-bgBorder: rgba(0, 66, 105, 0.28);
$controlDefault: #002033;
$bgBorder: rgba(0, 65, 102, 0.2);
$controlClear-typo: rgba(0, 57, 92, 0.8);
$bgSecondary: #ecf1f4;
$bgStripe: rgba(0, 32, 51, 0.05);
$controlSecondary-bgBorder: #0078D2;
$typoLink: #0078D2;

.font3XL {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.font2XL {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.fontS {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.fontM {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.fontButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.button_continue {
  background-color: $controlPrimary-bg;
  color: $controlPrimary-typo;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 4px;
}

