@import "../../../../utils/variables";

.catalog {
  .content__title {
    padding-bottom: 16px;
  }

  &__filter {
    display: flex;
    align-items: center;
    border: 1px solid $controlDefault-bgBorder;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $controlDefault;
    width: max-content;
    margin-bottom: 24px;

    hr {
      height: 26px;
      border: 0;
      margin: 0;
      border-left: 1px solid $controlDefault-bgBorder;
    }

    li:first-child {
      padding-left: 20px;
    }

  }

  .filter__button {
    padding: 9.5px 18px;
    list-style-type: none;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
  }
}

.filter_active {
  background: $controlGhost-bg;
  color: $controlGhost-typo;
  border-radius: 4px;

}
